h1 {
  font-family: "Bitter", serif;
}

h2 {
  font-family: "DM Sans", sans-serif;
}

.hero {
  background: #f9f7fe;
  text-align: center;
}

.hero p {
  font-family: "Bitter", serif;
  font-size: 36px;
  font-weight: bold;
}
